<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    color="true"
    bootstrap="tests/bootstrap.php"
    stopOnFailure="false">
    <testsuits>
        <testsuit name="adapter">
            <directory>tests/Adapter/</directory>
        </testsuit>    
    </testsuits>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>  
</phpunit>